@model BibliotecaVirtual.Models.Autor

@{
    ViewBag.Title = "Eliminando Autor";
    Layout = "~/Views/Shared/_Layout_two.cshtml";
}


    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Eliminar Autor</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description"></p>
                </div>
            </div>
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-3 col-md-push-2">
                        <div class="info">
                            <div>
                                <i class="fa fa-pencil"></i>
                                <p>@Html.DisplayNameFor(model => model.Nombre)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-push-2">
                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.Nombre)
                                  
                                </div>
                                <div class="text-center">
                                    <button type="submit">Eliminar</button>
                                    <a href="@Url.Action("Index", "Autor")" class="btn btn-new"><i class="fa fa-reply"></i><span><strong> Regresar</strong></span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

