@model IEnumerable<BibliotecaVirtual.Models.Libro>

@{
    ViewBag.Title = "Biblioteca Virtual";
}


<!--==========================
  Team Section
  ============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Tienda</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Encuentra una gran variedad de obras literarias</p>
            </div>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="member">
                        <div class="pic"><img src="@Url.Action("GetImage","Libro",new { id = item.IdLibro})" alt=""></div>
                        <h4> @Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <span>@Html.DisplayFor(modelItem => item.Autor.Nombre)</span>
                        <div class="social">
                            <a href="">@Html.DisplayFor(modelItem => item.PrecioUnitario)<i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
        <br />
        <br />
    </div>
</section>