body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

button {
    background: #03C4EB !important;
    border: 0 !important;
    padding: 8px 20px !important;
    color: #fff !important;
    transition: 0.4s !important;
}

    button:hover {
        background: #25d8fc !important;
    }


img {
    /*width: 25% !important;*/
}
