@model BibliotecaVirtual.Models.Editorial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_two.cshtml";
}

<section id="services">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Detalle</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 service-item">
                <div class="service-icon"><i class="fa fa-database"></i></div>
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.Nombre)</a></h4>
                <p class="service-description"> @Html.DisplayFor(model => model.Nombre)</p>
                <p>
                    <a href="@Url.Action("Edit", "Editorial", new { id = Model.IdEditorial })" class="btn btn-new"><i class="fa fa-pencil"></i><span><strong> Editar</strong></span></a> |
                    <a href="@Url.Action("Index", "Editorial")" class="btn btn-new"><i class="fa fa-reply"></i><span><strong> Regresar</strong></span></a>
                </p>
            </div>
        </div>
    </div>
</section>

