
@{
    ViewBag.Title = "Compra";
    Layout = "~/Views/Shared/_Layout_two.cshtml";
}
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Completa la información</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
        </div>

        <div class="row">
            <div class="form">
                <form action="" method="post" role="form" class="contactForm">
                    <div class="col-4">
                        <p>Selecciones metodo de Compra</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Despacho
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Retiro En Tienda
                            </label>
                        </div>
                    </div>
                    <div class="text-center"><button type="submit">Realizar Compra</button></div>
                </form>
            </div>

        </div>
    </div>
</section>

